services:
 backend:
   build: ./backend
   container_name: backend
   ports:
     - "8000:8000"
   env_file:
     - .env
   # This is a volume mapping - maps the local "backend" directory to "/app" in the container
   # This means:
   #   - Code changes made locally are immediately reflected inside the container.
   #   - Files created in the container (like Django migrations) are saved locally.
   volumes:
     - ./backend:/app
   working_dir: /app
   dns:
     - 8.8.8.8
     - 1.1.1.1
   environment:
      - GODEBUG=ipv6=off