services:
 db:
  container_name: db
  image: postgres:17
  ports:
    - "5432:5432"
  volumes:
    - postgres_data:/var/lib/postgresql/data
  env_file:
    - .env
  environment:
    POSTGRES_DB: ${DATABASE_NAME}
    POSTGRES_USER: ${DATABASE_USERNAME}
    POSTGRES_PASSWORD: ${DATABASE_PASSWORD}

 backend:
  build: ./backend
  container_name: backend
  ports:
    - "7000:7000"
  depends_on:
    - db
  env_file:
    - .env

 frontend:
  build: ./frontend
  container_name: frontend
  ports:
    - "8000:8000"
    - "8888:8888"
    - "19000:19000"
    - "19001:19001"
    - "19002:19002"
  depends_on:
    - backend
  env_file:
    - .env
  environment:
    - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0 
    - REACT_NATIVE_PACKAGER_HOSTNAME=0.0.0.0
volumes:
  postgres_data: