services:
 backend:
   build: ./backend
   container_name: backend
   ports:
     - "8000:8000"
   env_file:
     - .env
   volumes:
     - ./backend:/app
   working_dir: /app

 frontend:
   build: ./frontend
   container_name: frontend
   depends_on:
     - backend
   ports:
     - "19000:19000" # Expo go port
     - "19001:19001" # WebSocket debugger port
     - "8081:8081" # Metro bundler port
   volumes:
     - ./frontend:/app
     - /app/node_modules # Keep the node_modules folder created in docker, don't use local node_modules (wont work)
   working_dir: /app
   tty: true
   stdin_open: true
   extra_hosts:
      - "host.docker.internal:host-gateway"


   # Container volume mappings explained: maps the local "backend" and "frontend" directories into their respective "/app" directory in the container
   # This means:
   #   - Code changes made locally are immediately reflected inside the container.
   #   - Files created in the container (like Django migrations) are saved locally.
   # For production, we can remove these volumes, it is just for dev
